<h1><%= "Building #{@building_unit.id}" %></h1>

<p>
  <strong>Street Address:</strong>
  <%= @building_unit.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @building_unit.city %>
</p>

<p>
  <strong>State</strong>
  <%= @building_unit.state %>
</p>

<p>
  <strong>Postal Code</strong>
  <%= @building_unit.postal_code %>
</p>

<p>
  <strong>Description</strong>
  <%= @building_unit.description %>
</p>
